/* Give your page a fun background color */
body {
  background-color: #808080;
  font-family: monospace;
}
/* Make the header and footer a different color from the background */
header {
    background-color:#ffffff;
}

footer {
  background-color: #ff00ff
  }
/* Align the h1 containing your name in the center of the header*/
H1 {
  text-align: center
}
/* Make your p tag a different color and italic */
p {
  background-color:#faebd7
  font-style:italic;


}
/* Put a border around your image */

/* Change the font-family of your list */

.me {
  width: 200px;
  height: 121px;
  border-style: dashed;
}
